<h1> Reports by Group </h1>

<h3> Which group would you like to see the reports of?</h3>
<hr>
<!-- Can't use this until I have my next model! -->
<!-- <form action= "/report_by_group">
  <select name="group[id]">
    <% Group.all.each do |group| %>
      <option value="<%= group"[id]"%>" "<%= group["name"] %>" </option>
    <% end %>
  </select>

  <button type="submit">List this Group's Reports</button>

</form> -->
<a href="/home/home">Return to main menu?</a>