<h1>Add a Report</h1>

  <p>Type out a new report</p>

  <form action="/report_add">
   
    <p>Location: <input type="text" name= "location" placeholder="Location"></p>
  
    <p>Surroundings: <input type="text" name= "surroundings" placeholder="description"></p>
  
    <p>Treatment Suggestion: <input type="text" name= "plant_treatment" placeholder="treatment"></p>
    
    <p>Comments: <input type="text" name= "comments" placeholder="additional comments"></p>
  
    <p>Source ID: <input type="number" name= "source_id" min="1"></p>
  
    <p>Group ID: <input type="number" name= "group_id" min="1"> </p>

    <input type="submit" value="ADD REPORT">
    
<p><a href="/home">Go to home page</a></p>
