<h1> Report Menu </h1>
<h3> Choose an option: </h3>
<ul>
  <li><a href="/reports/report_add"></a>Add a new report</li>
  <li><a href="/reports/report_change"></a>Change an existing report</li>
  <li><a href="/reports/report_delete"></a>Delete a report</li>
  <li><a href="/reports/report_list"></a>List all reports</li>
  <li><a href="/reports/report_by_pollutants"></a>List reports with a specific pollutant</li>
  <li><a href="/reports/report_by_group"></a>List reports by a specific group</li>
  <li><a href="/reports/report_by_source"></a>List reports in a certain water source</li>
</ul>