<h1> Report Menu </h1>
<h3> Choose an option: </h3>
<ul>
  <li><a href="/report_add_form">Add a new report</a></li>
  <li><a href="/report_change">Change an existing report</a></li>
  <li><a href="/report_delete">Delete a report</a></li>
  <li><a href="/report_list">List all reports</a></li>
  <li><a href="/report_by_pollutants">List reports with a specific pollutant</a></li>
  <li><a href="/report_by_group">List reports by a specific group</a></li>
  <li><a href="/report_by_source">List reports in a certain water source</a></li>
  <li><a href="/home">Return to Main Menu</a><li>
</ul>