<p><h1>Water Safety Tracker</h1></p>
<hr>
  
 <p><h2>Main Menu</h2></p>
 <ul>
  <a href = "/report_main"><li>Access Reports</li></a>
  <!-- <a href = "/"><li>Access Groups</li></a>
  <a href = "/"><li>Access Sources</li></a>
  <a href = "/"><li>Access Pollutants</li></a> -->
 </ul>